.country_modal{
    width: 500px;
    padding-right: 10px;

    
}
img{
    width: 500px;
height:150px;
}
body{
    background-image: url("./img.jfif");
    background-size: cover;
}
#text{
    padding-left: 200px;
    width: 500px;
}
.heading{
    padding-left: 250px;
    color:rgb(0, 4, 255);
}